body {
    background-color: #fff5ee;
}
.top{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 145%;
    background-color: #333;
}

.nav li {
    float: left;
}

.dropdown {
    float: right;
}

.nav li a:not(.cat) {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.drop_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover, .dropbtn {
    background-color: #333;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e2e0de;
    min-width: 160px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown_content {
    display: block;
}

.nav :hover:not(.active) {
    background-color: #555;
    color: white;
}

#mySidenav a {
    position: fixed;
    left: -110px;
    transition: 0.3s;
    padding: 15px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: #2b2b2b;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#a {
    top: 120px;
    background-color: #ffbd5a;
}

#b {
    top: 180px;
    background-color: #c7f697;
}

#c {
    top: 240px;
    background-color: #7db4e2;
}

#d {
    top: 300px;
    background-color: #e27493
}
.mypic img {
    width: 250px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}

.bottom {
    padding-left: 50px;
    width: auto;
    height: 50px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #a3c8cc;
}

.button {
    background-color: #7a7f77;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
    cursor: pointer;
}
.mypic {
    margin-left: 75px;
    margin-top: 30px;
    width: 90%;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #ebfeff;
}
.title{
    font-size: 25px;
}
.content{
    width: 80%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
table{
    margin-left: 30px;
    border-collapse: collapse;
}
table tr{
    border-bottom: 1px solid #000000;
}
.pagenum {
    margin:auto;
    width: 400px;
    height: 50px;
}

.pagenum li {
    float: left;
    padding: 10px;
}

.pagenum a {
    font-size: 30px;
    color: #0d9faf;
}

.footer {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}


