body {
    background-color: #fff5ee;
}
.top{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    padding: 30px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #cccccc;
}

.right {
    padding: 30px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
}
.list{
    padding: 30px;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #cccccc;
}
.collect{
    padding: 30px;
    font-size: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #cccccc;
}
.content{
    padding: 30px;
    font-size: 15px;
    text-align: center;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
    background-color: #cccccc;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 145%;
    background-color: #333;
}

.nav li {
    float: left;
}

.dropdown {
    float: right;
}

.nav li a:not(.cat) {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.drop_btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover, .dropdown:hover, .dropbtn {
    background-color: #333;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e2e0de;
    min-width: 160px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown_content {
    display: block;
}

.nav :hover:not(.active) {
    background-color: #555;
    color: white;
}

#mySidenav a {
    position: fixed;
    left: -110px;
    transition: 0.3s;
    padding: 15px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: #2b2b2b;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#a {
    top: 120px;
    background-color: #ffbd5a;
}

#b {
    top: 180px;
    background-color: #c7f697;
}

#c {
    top: 240px;
    background-color: #7db4e2;
}

#d {
    top: 300px;
    background-color: #e27493
}

.button {
    background-color: #747971;
    border: none;
    color: #fdff82;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
    cursor: pointer;
}

.footer {
    margin-top: 200px;
    width: 100%;
    height: 50px;
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

